@font-face {
    font-family: 'Gaoel';
    src: url('Gaoel.eot');
    src: url('Gaoel.eot?#iefix') format('embedded-opentype'),
        url('Gaoel.woff2') format('woff2'),
        url('Gaoel.woff') format('woff'),
        url('Gaoel.ttf') format('truetype'),
        url('Gaoel.svg#Gaoel') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gaoel';
    src: url('Gaoel_1.eot');
    src: url('Gaoel_1.eot?#iefix') format('embedded-opentype'),
        url('Gaoel_1.woff2') format('woff2'),
        url('Gaoel_1.woff') format('woff'),
        url('Gaoel_1.ttf') format('truetype'),
        url('Gaoel_1.svg#Gaoel') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

