@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

html {
scroll-behavior: smooth;
}


* {
margin: 0;
padding: 0;
font-family: "Poppins", sans-serif;
box-sizing: border-box;
}

body{
background-color: #191c32;

}


body::-webkit-scrollbar{
    width: 9px;

}

body::-webkit-scrollbar-thumb{
    background-color: #00ffffab;
    border-radius: 4px;

}

body::-webkit-scrollbar-thumb:hover{
    background-color: #00ffff;

}





header {
z-index: 999;
position: absolute;
top: 0;
left: 0;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 200px;
transition: 0.5s ease;
}

header .brand {
color: #fff;
font-size: 1.5em;
font-weight: 700;
text-decoration: none;
text-transform: uppercase;
}
header .navegation {
position: relative;
}

header .navegation .navegation-items a {
position: relative;

color: #fff;
font-size: 1em;
font-weight: 500;
text-decoration: none;
margin-left: 30px;
transition: 0.3s ease;
padding: 1px;
/* text-transform: uppercase; */
}


header .navegation .navegation-items a::before {
content: '';
position: absolute;
background: #fff;
width: 0;
height: 3px;
bottom: 0;
left: 0;
transition: 0.3s ease;
}


header .navegation .navegation-items a:hover::before {
width: 100%;
}

section {
padding: 100px 200px;

}

/* carrusel */

.carrusel {
width: 100% !important;
height: 500px !important;

}



    /* about_iframe */


    .about_iframe{
        width: 100% !important;
        height: 850px !important;
    }



    .portafolio_iframe{
        width: 100% !important;
        height: 689px !important;
    }

.contact_iframe{

    width: 100% !important;
    height: 1070px !important;

}

.footer_iframe{

    width: 100% !important;
    height: 15.5em !important;

}


/* hero section */

.hero {
position: relative;
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
flex-direction: column;
background: rgba(75, 75, 75, 0.295);
transition: 1s ease;
}

.hero::before{
z-index: 777;
content: '';
position: absolute;
background: #1b1b1b44;
width: 100%;
height: 100%;
top: 0;
left: 0;
transition: 1s ease;
}

.CV-Hero .download-cv {
    padding: 15px 30px;
    
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #00ffff ;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
    }
    
.CV-Hero  .download-cv:hover {
    background-color: #fff;
    box-shadow: none;
    color: #191c32;
    transition: ease-in .2s;
    
    }


.hero video{
z-index: 000;
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
object-fit: cover;
}

.hero .content {
color: #fff;
z-index: 888;
width: 70%;
margin-top: 50px;
display: none;
}

.hero .content.active{
display: block;

}
/* here */
.hero .content span {
color: aquamarine;
font-size: 1.2em;
font-family:gaoel;
}


/* here */
.hero .content h1{
font-weight: 900;
text-transform: uppercase;
letter-spacing: 5px;
margin-top: 40px;
font-family:gaoel;

}

.hero .content p {
margin-bottom: 60px;
font-family: 'Manrope', sans-serif;
}

.hero .content a {
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: #070617;
text-decoration: none;

transition: 0.3s ease;
}

.hero .media-icons{
z-index: 888;
position: absolute;
right: 30px;
display: flex;
flex-direction: column;
transition: 0.5 ease;
}

.hero .media-icons a:not(:last-child) {
margin-bottom: 20px;
}

.hero .media-icons a:hover{

transform: scale(1.3);
}




/* othes */

header .menu-btn {
display: none;
}
    
.slider-navegation {
z-index: 888;
position: relative;
display: flex;
justify-content: center;
align-items: center;
transform: translateY(80px);
margin-bottom: 12px;
}

.slider-navegation .nav-btn {
width: 15px;
height: 15px;
background: #fff;
border-radius: 50%;
cursor: pointer;
box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
transition: 0.3s ease;
}

.slider-navegation .nav-btn.active {
width: 18px;
height: 18px;
background: #E05A0B;
    }

.slider-navegation .nav-btn:not(:last-child){
    margin-right: 20px;
}

.slider-navegation .nav-btn:hover{
transform: scale(1.2);

}


.video-slide{
position: absolute;
width: 100%;
clip-path: circle(0% at 0 50%);
}

.video-slide.active {
clip-path: circle(150% at 0 50%);
transition: 2s ease;
transition-property: clip-path;
}



.wrapper {

    width: 100vw;
    height: 100vh;
    background-color: #191c32;
    color: #fff;
    }
    
    .menu {
    width: 50%;
    display: flex;
    justify-content: space-around;
    }
    
    .menu .active {
    color: aqua;
    }
    
    .menu a:hover {
    background-color:aqua;
    color: #191c32;
    transition: ease-in .3s;
    }
    
    
    .menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    }
    
    

    
    .navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    }
    
    .menu li {
    list-style: none;
    }
    
    
    
    
    
    main {
    margin: 0 auto;
    width: 80vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    }
    
    h1 {
    font-size: 3em;
    }
    
    
    .download-cv {
    padding: 10px 20px;
    background-color: aqua ;
    border: none;
    border-radius: 20px;

    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
    }
    
    .download-cv:hover {
    background-color: #fff;
    box-shadow: none;
    transition: ease-in .2s;
    }
    
    .main img {
    width: 350px;
    border: 7px solid aqua;
    height:  500px;
    }
    
    .about {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
    background-color: azure;
    }





.about .social-network i{
color: #191c32;
}



.about .social-network i:hover{
    color: #E05A0B;
transition: 0.4s ease;

    }


    
    .about img {
    width: 100%;
    grid-column: 1/5;
    }
    
    .about-info {
    grid-column: 5/10;
    padding: 3em;
    }
    
    .about-info h2 {
    font-size: 2em;
    color: #191c32;
    font-family:gaoel;
    }
    
    .divider {
    height: 4px;
    width: 55px;
    background-color: #00ffff;
    margin-top: 10px;
    margin-bottom: 2.5em;
    }
    
    .about p{
    margin-bottom: 1em;
    font-family: 'Manrope', sans-serif;

    color: #191c32;
    }
    
    
    .portafolio {
    background-color: #191c32;
    width: 100vw;
    
    }
    

    



    
    .portafolio-headings {
    width: 100%;
    padding: 2.5em;
    }
    
    .portafolio-headings h2 {
        font-size: 2.6em;
    color: #fff;
    font-family:gaoel;
    }
    
    .portafolio .container {
    width: 80vw;
    /*height: 80vh;*/
    
    margin: 0 auto;
    display: flex;
    justify-content: center;
    }
    
    .card {
    height: 300px;
    background-color: rgb(70, 37, 160);
    color: #fff;
    margin: 1em;
    border-radius: 20px;
    }
    


    
    .card_proyects-links {
    display: flex;
    justify-content: space-evenly;
    
    }
    
    .card_proyects-links a {
    color: #fff;
    text-decoration: none;
    
    }
    
    .card_proyects-links i {
    font-size: 1.5em;
    
    }
    
    .card .project-details {
    margin-top: 0 auto;
    margin: 1em;
    width: 70%;
    }
    
    .card .ct-details a {
    text-decoration: none;
    color: #191c32;
    text-transform: uppercase;
    }
    
    .project-details-content {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 1em;
    }
    
    .Contact-headings {
        width: 100%;
        padding: 5em;
        }
        
        .Contact-headings h2 {
        font-size: 2.6em;
        color: #fff;
        font-family:gaoel;
        }
    
    .Contact-section {
    background-color: #191c32;
    width: 100vw;
    color: #fff;
    }
    
    .container-contact {
        
    padding: 1em;
    margin: 0 auto;
    display: flex;
    }
    
    .container-contact img {
    width: 750px;
    height: 700px;
    bottom: 0px;
    opacity: calc(20%);
    }
    
    
    .form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
    }
    
    .form input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom:  1px solid #fff;
    color: #fff;
    }
    
    .form textarea {
    height: 150px;
    color: #fff;
    padding: 1.5em;
    background: none;
    border-bottom: 1px solid #fff;
    }
    





    






    .btn-sumit {
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px 20px;
    margin: 1em;
    border: none;
    color: #191c32;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: aqua ;
    
    border-radius: 20px;
    
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
    }
    
    .btn-sumit:hover {
        background-color: aqua;
        border-radius: 16px;
        background-color: #fff;
        box-shadow: none;
        transition: ease-in .2s;
    }
    

    
    .footer {
    grid-template-columns: repeat(1,3fr);
    display: flex;
padding: 1em;
    justify-content: center;




    align-items: center;
    position: relative;

    }
    

.footer-aliniation{
    margin-left: 4em;
    margin-right: 4em;
}



    .footer-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        color: #fff;
        background-color: #070617; 
   

    }


.separador{
    height: 1px;
    width: 80%;
    background-color: #ffffff;
    margin-top: 5px;
    margin-bottom: 1em;

}



.footer-body p{
margin-bottom: 1em;
font-family: Arial, Helvetica, Sans-serif;
font-weight: 300;
}




    .footer-content h2,     .footer-content h5{


    
    font-size: 2em;
    color: #ffffff;
    font-family:gaoel;
/* padding-left: 1em; */

    }
    


    
        .social-network i {
            color: #ffffff;
    font-size: 4rem;
    cursor: pointer;


        }



        .social-network {
        color: #ffffff;
        display: flex;
        justify-content: space-evenly;
        width: 200px;
    
        }


.fast-links{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.fast-links img{

width: 10em;

}



.footer-contact{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}



.footer-contact h4{
font-weight: 700;
margin-bottom: 4px;
}




.copyright{

    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
}



/* responsive */

@media (max-width: 1040px) {

header {
padding: 100px 20px;
}

section{
    padding: 100px 20px;
}

.hero .media-icons{
right: 15px;
}

header .menu-btn {
display: flex;
right: 1rem;
size: 40px;
position: fixed;
width: 40px;
height: 40px;
cursor: pointer;
transition: 0.3s ease;

z-index: 100;

}



.video-slide.active {
    clip-path: none;
    transition: 2s ease;
    transition-property: clip-path;
    }



header .menu-btn .active{
z-index: 999;
background-size: 25px;
background-position: center;
cursor: pointer;
transition: 0.3s ease;
}

header .navegation{
display: none;
}

header .navegation.active{
padding-left: 10%;
position: fixed;
width: 90%;
height: 100vh;
top: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
color: black;
}

header .navegation.active .navegation-items {
background-color: #fff;
width: 600px;
max-width: 600px;
margin: 20px;
padding: 40px;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 5px;
box-shadow: 0 5px 25px rgb(1 1 1 / 37%);
}

header .navegation .navegation-items a{
color: #000;
font-size: 1.3em;
margin: 20px;
}


header .navegation .navegation-items a::before{
 background: #000;
 height: 5px;
    }

}



@media screen and (max-width: 768px) {

.container-contact img {
display: none;    
}

.about {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
    background-color: azure;
    }
    
    .sircuito{
display: none;
width: 0;

    }
  


    .about-info {
    grid-column: 1/10;
    padding: 3em;
    }
    
    .about-info h2 {
    font-size: 2em;
    color: #191c32;
    font-family:gaoel;
    }
    
    .divider {
    height: 4px;
    width: 55px;
    background-color: #00ffff;
    margin-top: 10px;
    margin-bottom: 2.5em;
    }
    
    .about p{
    margin-bottom: 1em;
    font-family: 'Manrope', sans-serif;

    color: #191c32;
    }

    .fast-links{

        display: none;

    
    }
    



.container-contact {
    
    padding: 1em;
    margin: 0 auto;
    display: flex;
    }


.form{
width: 70vw;

}


.footer-aliniation{
    margin-left: 0;
    margin-right: 0;
}



.footer_iframe{

    width: 100% !important;
    height: 13em !important;

}

.footer-content h2,     .footer-content h5{


    
    font-size: 1em;
    color: #ffffff;
    font-family:gaoel;
/* padding-left: 1em; */

    }


    .container-contact {
    
        padding: 0;
        margin: 0 auto;
        display: flex;
    justify-content: center;
    align-items: center;
        }





/* here */
.hero .content span {
    color: aquamarine;
    font-size: 1em;
    font-family:gaoel;
    }
    
    
    /* here */
    .hero .content h1{
    font-size: 1.8em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 40px;
    font-family:gaoel;
    
    }



}